
//
// VARIABLES
//

// Colors
// for backgroun i like between #000066 and #151515
$greyBlue: #121221;
$lightGray: #eee;
$green: #b5e853;
$blue: #4183C4;
$hippie-blue: #6a9fb5;
$red: #ac4142;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
